@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --gradient-blue-purple: linear-gradient(to right, #ec4899, #7e22ce);
  --gradient-red-orange: linear-gradient(to right, #ef4444, #f59e0b);
  --green-yellow: #B0E633;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
  padding: 0;
  margin: 0;
}

@layer components {
  .bg-gradient-blue-purple {
    background: var(--gradient-blue-purple);
  }

  .bg-gradient-red-orange {
    background: var(--gradient-red-orange);
  }

  .text-green-yellow {
    color: var(--green-yellow);
  }
}

