@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-lora: 'Lora', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lora); 
  --font-mono: var(--font-lora); 
  --gradient-blue-purple: linear-gradient(to right, #ec4899, #7e22ce);
  --gradient-red-orange: linear-gradient(to right, #ef4444, #f59e0b);
  --green-yellow: #B0E633;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, 'Lora', serif);
  padding: 0;
  margin: 0;
}


@layer components {
  .bg-gradient-blue-purple {
    background: var(--gradient-blue-purple) !important;
  }

  .bg-gradient-red-orange {
    background: var(--gradient-red-orange) !important;
  }

  .text-green-yellow {
    color: var(--green-yellow) !important;
  }

}
@layer utilities {
  .bg-gradient-blue-purple {
    @apply bg-gradient-to-r from-blue-600 to-purple-600;
  }

  .bg-gradient-red-orange {
    @apply bg-gradient-to-r from-red-600 to-orange-500;
  }

  .text-green-yellow {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-yellow-300;
  }

  .animate-wobble {
    animation: wobble 1s ease;
  }
}
.bg-radial-gradient {
  background: radial-gradient(circle at center, rgba(99, 102, 241, 0.15) 0%, rgba(15, 23, 42, 0) 70%);
}



.animate-shine {
  animation: shine 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-5%) rotate(-5deg);
  }
  30% {
    transform: translateX(4%) rotate(3deg);
  }
  45% {
    transform: translateX(-3%) rotate(-3deg);
  }
  60% {
    transform: translateX(2%) rotate(2deg);
  }
  75% {
    transform: translateX(-1%) rotate(-1deg);
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}